* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
}

nav{
	font-size: 25px;
}

.dropdown-menu{
	font-size: 25px;
}

#sign-row{
	position: absolute;
	top: 50%;
	left:30%;
	display: flex;
    align-items: center;
    background: none;
}

.sign-btns{
	flex: 40%;
	width:300px;
	margin-left: 50px;
	/*background-color: #f37e32;*/
}

#avatar{
	border-radius: 50%;
}

.list {
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    max-height:485px;
    overflow: hidden;
    padding: 5px 15px;
}

.row-item {
    background: #D3D3D3 none repeat scroll 0% 0%;
    border-radius: 10px;
    margin: 0px 10px;
    position: relative;
    flex: 18%;
    overflow: hidden;
    height: 100%;
}

.row{
	display: flex;
	flex-direction: row;
	overflow: hidden;
	max-width:1920px;
	height: 258px;
}

.row-container {
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 10px;
    margin: 10px 10px 0px;
    position: relative;
    max-width:1920px;
    flex: 25%;
    overflow: hidden;
}


.cover-box{
	max-height: 500px;
	height: 500px;
	width: 100%;
	overflow: hidden;
}

.cover-image{
	overflow: hidden;
	width: 100%;
}

.item-image{
	width:100%;
}

.selected{
	border: 5px solid orange;
}

h1{
	font-weight: bold;
}

.container-fluid{
	padding: 0px;
}

/*.keyboard-row{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.keyboard-key{
	flex: 15%;
	background-color: #484848;
	color: white;
	margin: 5px;
}

.keyboard-conrainer{
	max-height: 700px;
	max-width: 400px;
	top: 30%;
	left: 10%;
	background-color: #282828;

}*/

.modal{
	bottom: 500px;
}

.nav-item{
	padding-left: 20px;
	padding-right: 20px;
}

.general-container{
	display: flex;
	flex-direction: row;
}

.left-container{
	/*background-color: #484848;*/
	height: 980px;
	width: 1300px;
	display:flex;
	flex-direction:column;
}


.info-row{
	flex: 10%;
	margin: 10px;
}

.central-image{
	margin: 10px;
	flex: 65%;
}

.thumbnails-row{
	display: flex;
	flex: 25%;
	margin: 10px;
	flex-direction: row;
}

.thumbnail{
	margin: 10px;
}

.right-container{
	height: 980px;
	width: 620px;
}

.button-row{
	height: 150px;
	width: 100%;
}

.info-container{
	height: 750px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.step{
	margin: 5px 5px;
	flex: 10%;
	max-height: 80px;
}

.group-button {
	font-size: 40px;
	padding: 10px 55px;
}









